* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #181719;
}

/* HEADER */
header {
  width: 100%;
  height: 92px;
  padding: 0 76px 0 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.logo::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 102px;
  height: 32px;
  border: 1px solid white;
}

nav {
  width: 50%;
  max-width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

nav ul li:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 28px;
  border-bottom: 2px solid white;
  opacity: 0;
}

nav ul li:hover {
  font-weight: bold;
}

nav ul li:hover::after {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.ham-btn {
  width: 35px;
  height: 25px;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.ham-btn-in {
  width: 35px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.ham-btn-in::before,
.ham-btn-in::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.ham-btn-in::before {
  transform: translateY(9px);
}
.ham-btn-in::after {
  transform: translateY(18px);
}

.open {
  transform: rotate(45deg);
}

.ham-btn.open .ham-btn-in::before {
  transition: opacity 0.2s;
  opacity: 0;
}

.ham-btn.open .ham-btn-in::after {
  transform: rotate(-90deg);
}

/* MAIN */
main {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-article {
  max-width: 410px;
  height: 311px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-article h1 {
  font-family: "Lora", serif;
  font-size: 48px;
  line-height: 61px;
  color: #fff;
}

.text-article p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.text-article a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
}

.material-icons {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 25px;
  position: absolute;
}

.images-article {
  height: 100%;
  position: relative;
}

.main-pic {
  width: 100%;
  max-width: 720px;
  padding: 0 10px;
}

.profile {
  width: 410px;
  max-width: 85%;
  height: 189px;
  padding: 10px 0 0 14px;
  position: absolute;
  bottom: -110px;
  right: 30px;
  background-color: #181719;
  color: #fff;
  box-shadow: 0px 4px 4px #00000025;
}

.top-profile {
  display: flex;
  align-items: center;
  z-index: 3;
}

.profile-image-box {
  width: 85px;
  height: 72px;
  margin-bottom: 10px;
  text-align: center;
}

.profile img {
  width: 60px;
  border-radius: 50%;
  margin-top: 5px;
}

.profile h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.profile h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.profile h2 {
  width: 287px;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #a9a9a9;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 25px 20px;
  }

  .ham-btn {
    display: block;
  }

  main {
    padding-bottom: 150px;
    flex-direction: column;
  }

  .text-article {
    margin-bottom: 50px;
  }

  /* NAV */
  nav {
    width: 100%;
    max-width: unset;
    height: 100%;
    max-height: unset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #181719;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }

  /* .open-menu{
    transform
  } */

  nav ul {
    width: 100%;
    height: 50%;
    margin-top: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  nav ul li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 25px 20px;
  }

  main {
    width: 100%;
    align-items: unset;
  }

  .text-article {
    max-width: 410px;
    height: 250px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-article h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .text-article p {
    width: 250px;
    font-size: 14px;
    line-height: 17px;
  }

  .text-article a {
    font-size: 14px;
    line-height: 17px;
  }

  .material-icons {
    font-size: 30px;
    line-height: 20px;
  }

  .images-article {
    margin-top: 30px;
  }

  .profile h5 {
    font-size: 12px;
    line-height: 15px;
  }

  .profile h6 {
    font-size: 10px;
    line-height: 12px;
  }

  .profile h2 {
    font-size: 18px;
    line-height: 23px;
  }
}
